.blog-header {
  position: fixed;
  z-index: 9999;

  top: 0;
  left: 40px;
  right: 40px;
  height: 80px;

  background-color: @header-bg;
  box-shadow: 0 -8px 26px 4px @header-fg;

  h1 {
    margin-right:280px;

    a {
      color: @header-fg;
      text-decoration: none;

      &:hover, &:focus {
        color: @header-fg;
        opacity: 0.8;
        filter: alpha(opacity=80);
      }
    }
  }
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width:40px;
    background-color: @header-bg;
  }
  &:before {
    left: -40px;
  }
  &:after {
    right: -40px;
  }
}

.header-search {
  position: absolute;
  top: 22px;
  right: 0;
  width: 240px;
}

.sidebar {
  position: absolute;

  top: 120px;
  right: 0;
  width: 280px;
  padding: 0 40px;

  &:after {
    content: '';
    display: block;
    position: absolute;

    top: 30px;
    bottom: 30px;
    left: 0;
    width: 0px;

    border: 0px solid transparent;
    border-right-width: 1px;
    border-right-color: @sidebar-secondary;
    border-left-width: 1px;
    border-left-color: @sidebar-primary;
  }

  hr {
    border-top-color: @sidebar-primary;
    border-bottom: 1px solid @sidebar-secondary;
  }

  h5 {
    display: block;
    position: relative;

    margin: 0 0 16px 0;

    text-transform: uppercase;
    text-shadow: 1px 1px 0 @sidebar-secondary;
    color: @sidebar-primary;
    font-size: 13px;

    &:after {
      content: '';
      display: block;
      position: absolute;

      bottom: -4px;
      left: 0;
      right: 0;
      height: 0px;

      border: 0px solid transparent;
      border-top-width: 1px;
      border-top-color: @sidebar-primary;
      border-bottom-width: 1px;
      border-bottom-color: @sidebar-secondary;
    }
  }

  h4 {
    font-size: 22px;
  }

  [class|="sidebar"] {
    margin-bottom: 30px;
  }

  .sidebar-tags {
    margin-bottom: 50px;
  }
}

.social-links {
  margin-top: 10px;

  a {
    margin-right: 6px;

    &:hover, &:focus {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
  }
}

.sidebar-profile-img {
  margin-bottom: 12px;
}

.blog-content {
  margin-top: 80px;
  margin-right: 280px;
  padding: 20px 40px;
}