#blog-posts {
  list-style: none;
  padding: 0;
  margin: 20px -32px 0 0;
  position: relative;
}

.blog-post {
  display: block;
  position: absolute;

  //&:before {
  //  content: "";
  //  display: table;
  //  margin-top: 75%; /* 4:3 aspect ratio */
  //}
}

.post-data {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h2 {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 0.4em 1em;

      font-size: 16px;
      background-color: @black;
    }
}

@media (max-width:960px) {
  // over-ride gridFit script for smaller devices
  .blog-post {
    width: 50% !important;
    float: left !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    right: auto !important;
    bottom: auto !important;

    &:first-child {
      width: 100% !important;
    }
  }
}