.blog-header {
  overflow: hidden;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 40px;

  background-color: @white;
  border-bottom: 3px solid @gray-light;
}

.sidebar {
  position: absolute;

  top: 120px;
  right: 0;
  width: 280px;
  padding: 0 40px;

  &:after {
    content: '';
    display: block;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    width: 0px;

    border: 0px solid transparent;
    border-right-width: 1px;
    border-right-color: @white;
    border-left-width: 1px;
    border-left-color: @gray-lighter;
  }

  h5 {
    display: block;
    position: relative;

    margin: 0 0 16px 0;

    text-transform: uppercase;
    text-shadow: 1px 1px 0 @white;
    color: #CCC;
    font-size: 13px;

    &:after {
      content: '';
      display: block;
      position: absolute;

      bottom: -4px;
      left: 0;
      right: 0;
      height: 0px;

      border: 0px solid transparent;
      border-top-width: 1px;
      border-top-color: #CCC;
      //border-bottom-width: 1px;
      //border-bottom-color: @white;
    }
  }

  h4 {
    font-size: 22px;
  }

  [class|="sidebar"] {
    margin-bottom: 30px;
  }
}

.sidebar-profile-img {
  margin-bottom: 12px;
}

.blog-content {
  margin-top: 80px;
  margin-right: 280px;
  padding: 20px 0 20px 40px;
}