// Set body copy size and fix related issues

body {
  font-size: 18px;

  .menu-mask {
    display: none;
  }
}

.checkbox, .radio {
  font-size: 14px;
}
.input-group-btn > .btn {
  height: 34px;
}

// Core Styles

.blog-header {
  position: fixed;
  z-index: 9999;

  top: 0;
  left: 40px;
  right: 40px;
  height: 80px;

  background-color: @blue-light;
  box-shadow: 0 -8px 26px 4px @blue;

  h1 {
    font-family: "Sansita One", sans-serif; //"Cabin Sketch"
    margin: 12px 280px 0 0;
    font-size: 60px;

    a {
      padding-left: 6px;
      color: @blue;
      text-shadow: 1px 1px 0 @blue-lighter;
      text-decoration: none;

      &:hover, &:focus {
        color: @blue;
        opacity: 0.8;
        filter: alpha(opacity=80);
      }
    }
  }
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width:40px;
    background-color: @blue-light;
  }
  &:before {
    left: -40px;
  }
  &:after {
    right: -40px;
  }
}
.mb-menu {
  display: none;
}
.header-search {
  position: absolute;
  top: 32px;
  right: 0;
  width: 240px;
}

.sidebar {
  position: absolute;

  top: 120px;
  right: 0;
  width: 280px;
  padding: 0 40px;

  &:after {
    content: '';
    display: block;
    position: absolute;

    top: 30px;
    bottom: 30px;
    left: 0;
    width: 0px;

    border: 0px solid transparent;
    border-right-width: 1px;
    border-right-color: @blue-lighter;
    border-left-width: 1px;
    border-left-color: @blue;
  }

  hr {
    border-top-color: @blue;
    border-bottom: 1px solid @blue-lighter;
  }

  h5 {
    display: block;
    position: relative;

    margin: 0 0 16px 0;

    text-transform: uppercase;
    text-shadow: 1px 1px 0 @blue-lighter;
    color: @blue;
    font-size: 13px;

    &:after {
      content: '';
      display: block;
      position: absolute;

      bottom: -4px;
      left: 0;
      right: 0;
      height: 0px;

      border: 0px solid transparent;
      border-top-width: 1px;
      border-top-color: @blue;
      border-bottom-width: 1px;
      border-bottom-color: @blue-lighter;
    }
  }

  h4 {
    font-size: 22px;
  }
}
.sidebar-profile {
  margin-bottom: 30px;
}
.sidebar-tags {
  margin-bottom: 50px;
}

.social-links {
  margin-top: 10px;

  a {
    margin-right: 6px;

    &:hover, &:focus {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
  }
}

.sidebar-profile-img {
  margin-bottom: 12px;
}

.blog-content {
  margin-top: 80px;
  margin-right: 280px;
  padding: 20px 40px;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
    overflow-x: hidden;

    .menu-mask {
      display: block;
      visibility: hidden;
      position: absolute;
      z-index: 9999;
      .transition(right 0.6s ease-in-out);

      top: 0;
      bottom: 0;
      left: 0;
      right: -100px;

      background-color: darken(@blue, 30%);
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQIW2NkQAL///83ZoTxwRxGxrNgARgHxGZE5oAEAOz3DzVasxQ9AAAAAElFTkSuQmCC);
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    &.menu {
      height: 100%;
      overflow: hidden;

      .blog-header:after {
        right: -20px;
        width: 20px;
        bottom: -10px;
      }
      .header-search {
        right: 0;
      }
      .sidebar {
        right: 0;
      }
      .menu-mask {
        visibility: visible;
        right: 220px;
      }
    }
  }

  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }

  .blog-header {
    height: 52px;
    left: 20px;
    right: 20px;

    h1 {
      font-size: 30px;
    }
  }
  .mb-menu {
    display: block;
    position: absolute;
    padding: 6px 7px;
    top: 13px;
    right: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: @blue;

    .icon-menu {
      display: block;
      position: relative;
      width: 22px;
      height: 3px;
      background-color: @blue;
      margin-bottom: 11px;

      &:after {
        content: '';
        display: block;
        position: absolute;

        top: 6px;
        right: 0;
        left: 0;
        height: 8px;

        border: 0px solid transparent;
        border-top-width: 3px;
        border-top-color: @blue;
        border-bottom-width: 3px;
        border-bottom-color: @blue;
      }
    }
  }
  .header-search {
    padding: 10px 0 20px 20px;
    top: 0;
    right: -280px;
    width: 200px;
    z-index: 9999;
    background-color: @blue-light;
    .transition(right 0.6s ease-in-out);

    &:after {
      content: '';
      display: block;
      position: absolute;

      top: 0;
      bottom: 0;
      left: 0;
      width: 0px;

      border: 0px solid transparent;
      border-right-width: 1px;
      border-right-color: @blue-lighter;
      border-left-width: 1px;
      border-left-color: @blue;
    }
  }

  .blog-content {
    margin-top: 32px;
    margin-right: 0;
    padding: 20px;
  }

  .sidebar {
    top: 60px;
    right: -280px;
    bottom: 0;
    padding: 4px 20px 0;
    width: 220px;
    z-index: 9998;
    background-color: @blue-light;
    overflow: auto;
    .transition(right 0.6s ease-in-out);

    &:after {
      top: 0;
      bottom: 0;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 11px;
    }
  }
  .sidebar-tags {
    margin-bottom: 20px;
  }
}