<header blog-header></header>
<div blog-sidebar></div>

<div class="blog-content add-post">
  <h2>Add Post</h2>
  <hr />
  <form name="form-post" role="form">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" name="title" type="text" ng-model="post.title" />
    </div>
    <div class="form-group">
      <label for="content">Content (HTML)</label>
      <textarea class="form-control" rows="5" name="content" ng-model="post.content"></textarea>
    </div>
    <div class="form-group">
      <label for="hero_image">Hero Image</label>
      <input class="form-control" name="hero_image" type="text" ng-model="post.hero_img" />
    </div>
    <div class="form-group">
      <label class="release-label" for="release">Release Date/Time</label>
      <div class="input-group release-controls">
        <div class="input-group-addon release-time" ng-model="release_time" ng-change="updateRelease()">
          <timepicker show-meridian="false" mousewheel="false"></timepicker>
        </div>
        <input type="text" class="form-control release-date" datepicker-popup="dd-MMM-yyyy" ng-model="release_date" is-open="opened" min="dt" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false" ng-change="updateRelease()" ng-required="true" />
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="add_tag">Tags</label>
      <div class="input-group tag-control">
        <input type="text" class="form-control" ng-model="newTag" name="add_tag" typeahead="tag for tag in tagList | filter:$viewValue | limitTo:8" typeahead-loading="loadingTags" typeahead-on-select="addTag()">
        <span class="input-group-btn">
          <button class="btn btn-success" ng-click="addTag()" type="button"><i class="glyphicon glyphicon-plus"></i> tag</button>
        </span>
      </div>
      <ul class="blog-tags">
        <li ng-repeat="tag in post.tags" class="blog-tag">{{tag}}<a href="#" class="tag-remove" data-ng-click="removeTag(tag)" title="Remove {{tag}}">&times;</a></li>
      </ul>
    </div>
    <div class="form-group">
      <label for="via">via label</label>
      <input class="form-control" name="via" type="text" ng-model="post.via.label" />
    </div>
    <div class="form-group">
      <label for="via">via link</label>
      <input class="form-control" name="via" type="text" ng-model="post.via.link" />
    </div>
    <div class="checkbox">
      <label><input ng-model="post.featured" type="checkbox"> This is a <em>featured post</em></label>
    </div>
    <button class="btn btn-primary" ng-click="addNewPost()">Post!</button>
    <button class="btn btn-default" ng-click="resetForm()">Reset</button>
  </form>
</div>