<header blog-header></header>
<div blog-sidebar></div>

<div class="blog-content">
  <h2>Posts Tagged: {{tag}}</h2>
  <ul id="blog-posts" tile-grid>
    <li ng-repeat="post in posts | searchTag:tag | releaseDate | tileSize" class="blog-post" data-grid-size="{{post.size}}" on-finish-render>
      <div class="height-spacer"></div>
      <a ng-href="#/posts/{{post.id}}" class="post-data" title="{{post.title}}" style="background-image: url('{{post.hero_img}}')">
        <h2 class="post-title truncate">{{post.title}}</h2>
      </a>
    </li>
  </ul>
</div>