<header blog-header></header>
<div blog-sidebar></div>

<div class="blog-content">
  <h2 class="ng-binding">All Posts</h2>
  <ul id="blog-posts" tile-grid>
    <li class="post-loader"><img src="img/load.gif"></li>
    <li ng-repeat="post in posts | releaseDate | tileSize" class="blog-post" data-grid-size="{{post.size}}" on-finish-render>
      <div class="height-spacer"></div>
      <a ng-href="#/posts/{{post.id}}" class="post-data" title="{{post.title}}" ng-class="{'img-fullbleed': post.bleed}" style="background-image: url('img/posts/{{post.hero_img}}')">
        <h2 class="post-title truncate">{{post.title}}</h2>
      </a>
    </li>
  </ul>
</div>