<div class="cv-group">
<div class="cv-header">
  <h1>{{bio.name}}</h1>
</div>
<div class="cv-sidebar">
  <img class="cv-photo" src="img/load.gif" ng-src="{{bio.profile_image}}" alt="Photo of {{bio.name}}" />
  <ul class="list-unstyled cv-contact">
    <li><a ng-href="mailto:{{bio.email}}" title="Please email me with any queries">{{bio.email}}</a></li>
    <li><a ng-href="{{bio.site_url}}" title="See a selection of the profession projects I have worked on">Portfolio Website</a></li>
    <li><a ng-href="tel:{{bio.phone | nospace}}">{{bio.phone}}</a></li>
    <li class="social-links"><a ng-href="{{bio.linkedin}}" title="Visit my LinkedIn profile"><img src="img/ico/li.png" alt="LinkedIn icon"></a> <a ng-href="{{bio.git}}" title="Find me on GitHub"><img src="img/ico/gh.png" alt="GitHub icon"></a> <a ng-href="{{bio.twitter}}" title="Follow me on Twitter"><img src="img/ico/tw.png" alt="Twitter icon"></a></li>
  </ul>
</div>

<div class="cv-content">
  <div class="cv-section">
    <h2>What am I</h2>
    <p>I am Front-end / UI developer with 2 years experience and a supporting knowledge of the design process and terminology. I hand code semantic W3C validated markup that works across all major browsers without resorting to hacks.</p>
    <p>I have a keen interest in crafting intuitive and rich user experiences and am very intrigued by the potential of next generation client-side MV* frameworks.</p>
    <hr>
  </div>

  <div class="cv-section">
    <h2>Objectives</h2>
    <p>I would like to be a team member in a creative challenging and collaborative environment, where my passion and knowledge of front-end development and web-design will be well utilized, challenged and developed.</p>
    <p>Often frustrated by counter-intuitive user experiences and excited by the challenge of emerging technologies and the ever changing ways we interact with the web; I hope to contribute to solutions that are not only beautiful but also intuitive for end users and easily maintainable for future developers.</p>
    <hr>
  </div>

  <div class="cv-section">
    <h2>Skills</h2>
    <div class="table-responsive">
      <table class="table table-condensed">
        <tbody>
          <tr class="header-row"><th colspan="2">Expert</th></tr>
          <tr><td>HTML5</td><td>Twitter Bootstrap</td></tr>
          <tr><td>CSS3</td><td>Design in browser</td></tr>
          <tr><td>Responsive Web Design</td><td>Requirement evaluation</td></tr>
          <tr class="header-row"><th colspan="2">Intermediate</th></tr>
          <tr><td>Plain Javascript</td><td>jQuery</td></tr>
          <tr><td>AngularJS</td><td>Firebase</td></tr>
          <tr><td>LESS</td><td>GIT</td></tr>
          <tr><td>Cross Browser testing</td><td>Wireframing</td></tr>
          <tr><td>AJAX with Promises</td><td>Twitter Typeahead</td></tr>
          <tr><td>Adobe Business Catalyst</td><td>Photoshop</td></tr>
        </tbody>
      </table>
    </div>
    <p>Perhaps most importantly I can think outside the box to find creative solutions to difficult problems and quickly grasp new concepts.</p>
    <hr>
  </div>

  <div class="cv-section">
    <h2>Open Source Contributions</h2>
    <h3>angularFire-seed</h3>
    <h5 class="cv-date">Feb 2014</h5>
    <p>As there was currently no way to change a users login email in this open source project I wrote a method to allow this. The pull request was reviewed and accepted into the project. <a href="#/posts/2014-02-24-my-first-pull-request" title="Read the article about this pull request on my blog">Read more about this contribution</a> or view the <a href="https://github.com/firebase/angularFire-seed/pull/21" title="Extended login service to allow users to change their email/login by Autodidaktosaur · firebase/angularFire-seed">pull request</a> on Github.</p>
    <hr>
  </div>

  <div class="cv-section">
    <h2 style="margin-bottom: 0px;">Relevant Experience</h2>
    <h5 class="cv-references">References available on <a ng-href="{{bio.linkedin}}" title="View my references on LinkedIn">LinkedIn</a> or by request</h5>

    <h3>Sole Developer &amp; Designer on Project IG <em>(currently under NDA)</em></h3>
    <h5 class="cv-date">Feb 2014 - current</h5>
    <p><strong>Responsibility:</strong> I am responsible for the design and coding of this project and I’m heavily involved in producing the project spec.</p>
    <p><strong>Technologies:</strong> AngularJS, Firebase, FilepickerIO, Social API’s (Twitter, Facebook, Google+)</p>

    <h3>Sole Developer &amp; Designer for Graffiti Media Reskin</h3>
    <h5 class="cv-date">Jan 2014</h5>
    <p><strong>Responsibility:</strong> In January I was approached to re-skin the site of Graffiti Media, a Video Production company based in Los Angeles and New Zealand.</p>
    <p>The new site needed to be sleeker and easier to maintain. I was provided some examples of what the client wanted to drive the design process. Additionally to the visual update I wrote a script in jQuery to reorder grid elements so they would fit without leaving gaps.</p>
    <p><strong>Technologies:</strong> LESS, jQuery, Adobe Business Catalyst</p>

    <h3>Front-end Developer / Designer at <a href="http://e-see.com" title="Visit the e-see website" target="_blank">E-see International</a></h3>
    <h5 class="cv-date">Sept 2011 - Oct 2013</h5>
    <p><strong>Responsibility:</strong> Designing &amp; coding websites from client briefs, Planning project workflows, Wireframe / prototype development, Maintaining and improving existing sites, Liaising with and troubleshooting for clients</p>
    <p><strong>Selected Clients:</strong></p>
    <ul>
      <li><a href="#/posts/2013-07-01-southern-cross-brand-management-webapp" title="Find out more about this client in my porfolio post">Southern Cross Health Society</a></li>
      <li><a href="#/posts/2013-08-01-d3-website" title="Find out more about this client in my porfolio post">d3 Tape</a></li>
      <li><a href="#/posts/2014-01-20-graffiti-media-website" title="Find out more about this client in my porfolio post">Graffiti Media</a></li>
      <li><a href="#/posts/2013-06-01-selected-autos-webapp" title="Find out more about this client in my porfolio post">Selected Autos</a></li>
      <li><a href="#/posts/2012-07-01-mobistore-website" title="Find out more about this client in my porfolio post">Mobistore</a></li>
      <li><a href="#/posts/2012-10-01-autohub-website" title="Find out more about this client in my porfolio post">Autohub</a></li>
      <li><a href="#/posts/2013-08-01-rainbow-ecommerce-site" title="Find out more about this client in my porfolio post">Rainbow Confectionery</a></li>
    </ul>

    <h3>Sessional Assistant at The University of Waikato</h3>
    <h5 class="cv-date">2007 - 2010</h5>
    <p><strong>Responsibilty:</strong> Supervising and marking tests, Tutoring classes, Writing and refreshing lab manuals, Assisting students</p>
    <p><strong>Relevance:</strong> This position helped me to develop strong critiquing skills and the ability to articulate complex topics to people with little to no knowledge of the technologies involved.</p>
    <hr>
  </div>

  <div class="cv-section">
    <h2>Education</h2>
    <h3>Honors in Computer Graphic Design (BCGD hons)</h3>
    <h5 class="cv-date">The University of Waikato, 2006 - 2010</h5>
    <p>This course focused on digitally created designs with an emphasis on introducing students to a broad range of disciplines ranging from web to print media to motion graphics.</p>
    <p>In my honors year I conducted a study into <a href="downloads/Tim-Geurts-Dissertation-2010.pdf" title="Is there a design style in corporate identity that is effective and persistent and how can this be used to our advantage in the recession?" target="_blank">branding techniques and their longevity</a>.</p>
  </div>
</div>
</div>