<div class="col-group">
  <div class="col-mb-8">
    <h1>{{bio.name}}</h1>
    <p>
      <a ng-href="mailto:{{bio.email}}" title="Please email me with any queries">{{bio.email}}</a><br>
      <a ng-href="{{bio.site_url}}" title="See a selection of the profession projects I have worked on">Portfolio Website</a><br>
      <a ng-href="tel:{{bio.phone | nospace}}">{{bio.phone}}</a><br>
      <a ng-href="{{bio.linkedin}}" title="Visit my LinkedIn profile">li</a> <a ng-href="{{bio.git}}" title="Find me on github">gh</a> <a href="{{bio.twitter}}" title="Follow me on Twitter">tw</a>
    </p>

  </div>
  <div class="col-mb-4">
    <img class="profile-photo" ng-src="{{bio.profile_image}}?s=180" alt="Photo of {{bio.name}}" />
  </div>
</div>

<div class="col-group">
  <div class="col-mb-12">
    <h2>Objectives</h2>
    <p>I would like to be a team member in a creative challenging and collaborative environment, where my passion and knowledge of web-design and development will be well utilized, challenged and developed.</p>
    <p>Often frustrated by counter-intuitive user experiences and excited by the challenge of emerging technologies and the ever changing ways we interact with the web; I hope to contribute to solutions that are not only beautiful but also intuitive for end users and easily maintainable for future developers.</p>
  </div>
</div>

<div class="col-group">
  <div class="col-mb-12">
    <h2>Relevant Experience</h2>
    <p class="text-muted">References available on <a class="text-muted" ng-href="{{bio.linkedin}}" title="View my references on LinkedIn">LinkedIn</a> or by request</p>
    <p>2011 - 2013</p>
    <h3>Graphic Designer / Front End Developer at E-see International</h3>
    <p>Duties included: designing &amp; building websites from client briefs, troubleshooting for clients, general design tasks, photographing products.</p>
    <p>This position though fairly broad in its duties is where I started to gain an interesting in web design and development. As my role in the company developed I started working increasingly more on web projects and built apon my basic HTML, CSS and JavaScript developing a good working knowledge. The need for well designed user experiences and maintainable clean code have become keen interests of mine along with the potential of emerging client side MV* frameworks such as AngularJS and Ember.</p>
    <p>2007 - 2010</p>
    <h3>Sessional Assistant at The University of Waikato</h3>
    <p>Duties included: assisting students, supervising and marking test, tutoring classes, writing and refreshing lab manuals.</p>
    <p>This position helped me to develop strong critiquing skills and the ability to articulate complex topics to people with little to no knowledge of the technologies involved.</p>
  </div>
</div>

<div class="col-group">
  <div class="col-mb-12">
    <h2>Education</h2>
    <p>The University of Waikato 2006 - 2010</p>
    <h3>Honors in Computer Graphic Design (BCGD hons)</h3>
    <p>This course focused on digitally created designs with an emphasis on introducing students to a broad range of diciplines ranging from web to print media to motion graphics.</p>
    <p>In my honors year I conducted a study into <a href="#" class="text-muted" title="Is there a design style in corporate identity that is effective and persistent and how can this be used to our advantage in the recession?">branding techniques and their longevity</a>.</p>
  </div>
</div>

<div class="col-group">
  <div class="col-mb-12">
    <h2>Skills</h2>
    <ul class="list-unstyled">
      <li ng-repeat="skill in data.skills">{{skill}}</li>
    </ul>
    <p>Perhaps more importantly I can think outside the box to find creative solutions to difficult problems and quickly grasp new concepts</p>
  </div>
</div>

<!--div class="col-group">
  <div class="col-mb-12">
    <h2>References</h2>
  </div>
  <div class="col-mb-12 col-4"></div>
  <div class="col-mb-12 col-4"></div>
  <div class="col-mb-12 col-4"></div>
</div-->