<header class="blog-header">
  <h1><a href="#/" title="Return to all posts">Didacticode</a></h1>
  <div class="header-search">
    <form role="search" name="search" ng-submit="keywordSearch()">
      <label for="query" class="sr-only">Search</label>
      <div class="input-group">
        <input type="text" class="form-control" name="query" ng-model="query" placeholder="Search...">
        <span class="input-group-btn">
          <input class="btn btn-default" type="submit" value="Go!">
        </span>
      </div>
    </form>
  </div>
  <button class="btn btn-info mb-menu" ng-click="openMenu()" type="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-menu"></span>
  </button>
</header>