<header blog-header></header>
<div blog-sidebar></div>

<div class="blog-content login-page">
  <h2>Login</h2>
  <hr />
  <form role="Login Form">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" name="email" type="text" ng-model="email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" name="password" type="password" ng-model="pass" />
    </div>
    <div class="checkbox">
      <label><input ng-model="remember" type="checkbox"> Remember me</label>
    </div>
    <button class="btn btn-primary" ng-click="login()">Log In</button>

    <p ng-show="err" class="error">{{err}}</p>
  </form>
</div>