<div class="sidebar">
  <div class="sidebar-profile">
    <h5>The Author</h5>
    <img class="img-responsive sidebar-profile-img" ng-src="{{bio.profile_image}}?s=200" alt="Photo of {{bio.name}}">
    <h4>{{bio.name}}</h4>
    <ul class="list-unstyled">
      <li><a href="#/tags/Portfolio" title="View my portfolio">Portfolio</a></li>
      <li><a href="#/bio" title="More about me">More about me</a></li>
      <li><a href="#/cv" title="Read my Curriculum Vitae, I might be right for you">Curriculum Vitae</a></li>
    </ul>
    <ul class="list-unstyled">
      <li><a ng-href="mailto:{{bio.email}}" title="Please email me with any queries">{{bio.email}}</a></li>
      <li><a ng-href="tel:{{bio.phone | nospace}}">{{bio.phone}}</a></li>
      <li class="social-links"><a ng-href="{{bio.linkedin}}" title="Visit my LinkedIn profile"><img src="img/ico/li.png" alt="LinkedIn icon"></a> <a ng-href="{{bio.git}}" title="Find me on GitHub"><img src="img/ico/gh.png" alt="GitHub icon"></a> <a ng-href="{{bio.twitter}}" title="Follow me on Twitter"><img src="img/ico/tw.png" alt="Twitter icon"></a></li>
    </ul>
  </div>
  <div class="sidebar-tags">
    <h5>Tags</h5>
    <ul blog-tags></ul>
  </div>
</div>