<div class="sidebar">
  <div class="sidebar-profile" ng-click="$event.preventDefault()">
    <img class="img-responsive sidebar-profile-img" ng-src="{{bio.profile_image}}?s=200" alt="Photo of {{bio.name}}">
    <h5>The Author</h5>
    <h4>{{bio.name}}</h4>
    <p>Born and raised in New Zealand I have decided it is fianlly time to fly the coop and discover what it's like on the other side of the world.<span ng-show="!showBio" ng-click="toggleBio()">.. <a href="#">more</a></span></p>
    <div ng-show="showBio">
      <p>Often frustrated by counter-intuitive user experiences and excited by the challenge of emerging technologies and the ever changing ways we interact with the web; I hope to contribute to solutions that are not only beautiful but also intuitive for end users and easily maintainable for future developers.</p>
      <p><span ng-click="toggleBio()"><a href="#">Less</a></span></p>
    </div>
    <hr class="thin">
    <p>
      <a ng-href="#" title="View my portfolio">Portfolio</a><br>
      <a ng-href="#/cv" title="Read my Curriculum Vitae, I might be right for you">Curriculum Vitae</a>
    </p>
    <p>
      <a ng-href="mailto:{{bio.email}}" title="Please email me with any queries">{{bio.email}}</a><br>
      <a ng-href="tel:{{bio.phone | nospace}}">{{bio.phone}}</a><br>
      <a ng-href="{{bio.linkedin}}" title="Visit my LinkedIn profile">li</a> <a ng-href="{{bio.git}}" title="Find me on github">gh</a> <a href="{{bio.twitter}}" title="Follow me on Twitter">tw</a>
    </p>
  </div>
  <div class="sidebar-search">
    <h5>Search</h5>
    <form role="search" name="search">
      <div class="input-group">
        <input type="text" class="form-control" name="query">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </form>
  </div>
  <div class="sidebar-tags">
    <h5>Tags</h5>
    <ul blog-tags></ul>
  </div>
</div>